In [ ]:
import sqlite3
import os

In [ ]:
con = sqlite3.connect('database.db')
cur = con.cursor()

In [ ]:
os.remove('database.db')

In [ ]:
try: 
    cur.execute("""CREATE TABLE Person (
    id INTEGER,
    first_name TEXT,
    last_name TEXT,
    age INTEGER
    )    
    """)
except:
    print('table already made')

In [ ]:
try: 
    cur.execute("""CREATE TABLE Hobby (
    name TEXT,
    scoreAthletic REAL,
    scoreIntellectual REAL,
    scoreSocial REAL
    )    
    """)
except:
    print('table already made')

In [ ]:
try: 
    cur.execute("""CREATE TABLE Education (
    instName TEXT,
    address TEXT,
    type TEXT
    )    
    """)
except:
    print('table already made')

In [ ]:
try: 
    cur.execute("""CREATE TABLE Profession (
    jobTitle TEXT,
    scoreAthletic REAL,
    scoreIntellectual REAL,
    scoreSocial REAL
    )    
    """)
except:
    print('table already made')

In [ ]:
try: 
    cur.execute("""CREATE TABLE Location (
    zipCode INTEGER,
    city TEXT,
    state TEXT
    )    
    """)
except:
    print('table already made')

In [ ]:
try: 
    cur.execute("""CREATE TABLE Preferences (
    minAge INTEGER,
    maxAge INTEGER,
    
    scoreAthletic REAL,
    scoreIntellectual REAL,
    scoreSocial REAL
    )    
    """)
except:
    print('table already made')