In [3]:
import sqlite3
import os
con = sqlite3.connect('notebook.db')
cur = con.cursor()

In [34]:
h_name = "fishing"

cur.execute("""select first_name, last_name 
    from people, hasHobby
    Where id = pid 
        And hobbyName = :hName""", 
    { 'hName' : h_name}).fetchall()

[('john', 'lopez'), ('thomas', 'edwards'), ('stephanie', 'johnson')]

In [40]:
def hobbyQuery(h_name, h_kind, h_setting):
    query = """
    select first_name, last_name, age 
    from people, hasHobby, hobby
    Where id = pid AND hobbyName = name
    """
    if h_name == "":
        pass
    else:
        query += "AND name = '{}'".format(h_name)
    if h_kind == "":
        pass
    else:
        query += "AND kind = '{}'".format(h_kind)
    if h_setting == "":
        pass
    else:
        query += "AND setting = '{}'".format(h_setting)
    return query

query = hobbyQuery('fishing', '', '')
print(query)
cur.execute(query).fetchall()

    select first_name, last_name, age
    from people, hasHobby, hobby
    Where id = pid AND hobbyName = name
    AND name = 'fishing'

[('john', 'lopez', 35),
 ('thomas', 'edwards', 45),
 ('stephanie', 'johnson', 32)]

In [41]:
def jobQuery(p_name, p_company, p_field):
    query = """
    select first_name, last_name, age 
    from people, worksAs, profession
    Where id = pid AND professionName = name
    """
    if p_name == "":
        pass
    else:
        query += "AND name = '{}'".format(p_name)
    if p_company == "":
        pass
    else:
        query += "AND company = '{}'".format(p_company)
    if p_field == "":
        pass
    else:
        query += "AND field = '{}'".format(p_field)
    return query

query = jobQuery('chef', 'case western', 'restaurant')
print(query)
cur.execute(query).fetchall()

    select first_name, last_name, age
    from people, worksAs, profession
    Where id = pid AND professionName = name
    AND name = 'chef'AND company = 'case western'AND field = 'restaurant'

[('thomas', 'edwards', 45)]

In [42]:
def educationQuery(i_name, i_type, i_major, i_degree):
    query = """
    select first_name, last_name, age 
    from people, studdied, institution
    Where id = pid AND instName = name
    """
    if i_name == "":
        pass
    else:
        query += "AND name = '{}'".format(i_name)
    if i_type == "":
        pass
    else:
        query += "AND type = '{}'".format(i_type)
    if i_major == "":
        pass
    else:
        query += "AND major = '{}'".format(i_major)
    if i_degree == "":
        pass
    else:
        query += "AND degreeType = '{}'".format(i_degree)
    return query

query = educationQuery('', '', 'creative writing', '')
print(query)
cur.execute(query).fetchall()

    select first_name, last_name, age
    from people, studdied, institution
    Where id = pid AND instName = name
    AND major = 'creative writing'

[('lisa', 'oneal', 25)]

In [43]:
maxAge = 50
minAge = 30
cur.execute("""select first_name, last_name, age from people 
        where age >= :minAge
        and age <= :maxAge"""
            , {'minAge': minAge, 'maxAge': maxAge}).fetchall()

[('betty', 'mitchel', 30),
 ('charles', 'connors', 39),
 ('john', 'lopez', 35),
 ('jennifer', 'lafrance', 43),
 ('joe', 'nelson', 44),
 ('thomas', 'edwards', 45),
 ('quin', 'doe', 50),
 ('patricia', 'rogers', 39),
 ('mark', 'williams', 30),
 ('will', 'michaels', 42),
 ('grace', 'robinson', 34),
 ('matthew', 'richardson', 33),
 ('stephanie', 'johnson', 32)]

In [5]:
def ageQuery(min, max):
    query = "select first_name, last_name, age from people where"
    if min > 0 and max < 0:
        query += " age >= {} ".format(min)
    elif max > 0 and min < 0:
        query += " age <= {} ".format(max)
    else:
        query += " age >= {} AND ".format(min)
        query += " age <= {} ".format(max)
    return query

query = ageQuery(30,50)
cur.execute(query).fetchall()

[('betty', 'mitchel', 30),
 ('charles', 'connors', 39),
 ('john', 'lopez', 35),
 ('jennifer', 'lafrance', 43),
 ('joe', 'nelson', 44),
 ('thomas', 'edwards', 45),
 ('quin', 'doe', 50),
 ('patricia', 'rogers', 39),
 ('mark', 'williams', 30),
 ('will', 'michaels', 42),
 ('grace', 'robinson', 34),
 ('matthew', 'richardson', 33),
 ('stephanie', 'johnson', 32)]