In [3]:
import sqlite3
import os

In [4]:
con = sqlite3.connect('database.db')
cur = con.cursor()

In [ ]:
con.commit()

In [ ]:
os.remove('database.db')

In [21]:
try: 
    cur.execute("""CREATE TABLE Person (
    id INTEGER,
    first_name TEXT,
    last_name TEXT,
    age INTEGER
    )    
    """)
except:
    print('table already made')

table already made

In [45]:
cur.execute("""INSERT INTO Person (id, first_name, last_name, age) 
VALUES (1, 'Philip', 'Gray', 20)""")

cur.execute("""INSERT INTO Person (id, first_name, last_name, age)
VALUES (2, 'Lindsey', 'Koch', 25)""")

cur.execute("""INSERT INTO Person (id, first_name, last_name, age)
VALUES (3, 'Johanna', 'Warner', 30)""")

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 4 supplied.

In [6]:
try: 
    cur.execute("""CREATE TABLE Hobby (
    name TEXT,
    isAthletic INTEGER,
    isIntellectual INTEGER,
    isSocial INTEGER
    )    
    """)
except:
    print('table already made')

In [7]:
try: 
    cur.execute("""CREATE TABLE Education (
    instName TEXT,
    address TEXT,
    type TEXT
    )    
    """)
except:
    print('table already made')

In [8]:
try: 
    cur.execute("""CREATE TABLE Profession (
    jobTitle TEXT,
    jobField TEXT
    )    
    """)
except:
    print('table already made')

In [9]:
try: 
    cur.execute("""CREATE TABLE Location (
    zipCode INTEGER,
    city TEXT,
    state TEXT
    )    
    """)
except:
    print('table already made')

In [10]:
try: 
    cur.execute("""CREATE TABLE preferences (
    personID INTEGER,
    minAge INTEGER,
    maxAge INTEGER,
    
    scoreAthletic REAL,
    scoreIntellectual REAL,
    scoreSocial REAL
    )    
    """)
except:
    print('table already made')

In [11]:
try: 
    cur.execute("""CREATE TABLE livesIn (
    personID INTEGER,
    zipCode INTEGER,
    address TEXT
    )    
    """)
except:
    print('table already made')

In [12]:
try: 
    cur.execute("""CREATE TABLE worksAs (
    personID INTEGER,
    jobTitle TEXT,
    company TEXT,
    yearsOfExperience INT
    )    
    """)
except:
    print('table already made')

In [13]:
try: 
    cur.execute("""CREATE TABLE studied (
    personID INTEGER,
    instName TEXT,
    gradYear INTEGER,
    major TEXT,
    degreeType TEXT
    )    
    """)
except:
    print('table already made')

In [14]:
try: 
    cur.execute("""CREATE TABLE hasHobby (
    personID INTEGER,
    hobbyName TEXT,
    experience TEXT,
    yearsPracticed INTEGER
    )    
    """)
except:
    print('table already made')

In [15]:
try: 
    cur.execute("""CREATE TABLE match (
    personID INTEGER,
    matchID INTEGER,
    dateMatched TEXT,
    matchStrength INTEGER
    )    
    """)
except:
    print('table already made')

In [42]:
profMatch = cur.execute("SELECT * FROM Person")

In [40]:
profMatch.remove((1, 'Philip', 'Gray', 20))

In [44]:
type(profMatch)

sqlite3.Cursor