In [16]:
import sqlite3
import os

In [52]:
# delete the db to start over during testing
os.remove('notebook.db')

In [53]:
con = sqlite3.connect('notebook.db')
cur = con.cursor()

In [54]:
try: 
    cur.execute("""CREATE TABLE people (
    id INTEGER,
    first_name TEXT,
    last_name TEXT,
    age INTEGER
    )    
    """)
except:
    print('table already made')

In [55]:
try: 
    cur.execute("""CREATE TABLE hobby (
    name TEXT,
    kind TEXT,
    setting TEXT
    )    
    """)
except:
    print('table already made')

In [56]:
class Hobby:
    def __init__(self, name, kind, setting):
        self.name = name
        self.kind = kind
        self.setting = setting

In [57]:
biking = Hobby('biking', 'exercise', 'outdoor')
swimming = Hobby('swimming', 'exercise', 'indoor')
chess = Hobby('chess', 'intellectual', 'indoor')
soccer = Hobby('soccer','sport','outdoor')
hiking = Hobby('hiking','exercise','outdoor')
camping = Hobby('camping', 'recreation', 'outdoor')
cooking = Hobby('cooking','creative','indoor')
painting = Hobby('painting','creative','indoor')
fishing = Hobby('fishing','recreation','outdoor')
tennis = Hobby('tennis','sport','outdoor')
basketball = Hobby('basketball', 'sport','indoor')
running = Hobby('running','exercise','outdoor')
writing = Hobby('writing','intellectual','indoor')
photography = Hobby('photography','creative','outdoor')

hobbies = [biking, swimming, chess, soccer, hiking, camping, cooking, painting, fishing, tennis, basketball, running, writing, photography]

In [58]:
def hobbyTuple(hobbies):
    h_list = []
    for hobby in hobbies:
        h_list.append((hobby.name,hobby.kind,hobby.setting))
    return h_list

h_list = hobbyTuple(hobbies)

In [59]:
names = [(0, 'betty', 'lafrance', 30), (1, 'quin', 'lueker', 30), (2, 'john', 'johnson', 25), (3, 'will', 'williams', 45), (4, 'thomas', 'michaels', 31), (5, 'jennifer', 'connors', 42), (6, 'joe', 'mitchel', 31), (7, 'lisa', 'lopez', 22), (8, 'cade', 'rogers', 44), (9, 'mark', 'edwards', 50), (10, 'grace', 'richardson', 36), (11, 'matthew', 'robinson', 25), (12, 'stephanie', 'doe', 49), (13, 'mary', 'smith', 44), (14, 'charles', 'nelson', 22), (15, 'patricia', 'oneal', 28)]

In [60]:
cur.executemany("insert into people values (?, ?, ?, ?)", names)

In [61]:
cur.executemany("insert into hobby values (?, ?, ?)", h_list)

In [62]:
maxAge = 50
minAge = 30
cur.execute("""select first_name from people 
        where age >= :minAge
        and age <= :maxAge"""
            , {'minAge': minAge, 'maxAge': maxAge}).fetchall()

[('betty',),
 ('quin',),
 ('will',),
 ('thomas',),
 ('jennifer',),
 ('joe',),
 ('cade',),
 ('mark',),
 ('grace',),
 ('stephanie',),
 ('mary',)]

In [67]:
cur.execute("""select name from hobby where setting = 'outdoor' """).fetchall()

[('biking',),
 ('soccer',),
 ('hiking',),
 ('camping',),
 ('fishing',),
 ('tennis',),
 ('running',),
 ('photography',)]

In [7]:
# pushes this code into the database
con.commit()

In [20]:
# close connection to the db
con.close()