In [1]:
import sqlite3
import os

In [2]:
# delete the db to start over during testing
os.remove('notebook.db')

In [3]:
con = sqlite3.connect('notebook.db')
cur = con.cursor()

In [4]:
try: 
    cur.execute("""CREATE TABLE people (
    id INTEGER,
    first_name TEXT,
    last_name TEXT,
    age INTEGER
    )    
    """)
except:
    print('table already made')

In [5]:
names = [(0, 'betty', 'lafrance', 30), (1, 'quin', 'lueker', 30), (2, 'john', 'johnson', 25), (3, 'will', 'williams', 45), (4, 'thomas', 'michaels', 31), (5, 'jennifer', 'connors', 42), (6, 'joe', 'mitchel', 31), (7, 'lisa', 'lopez', 22), (8, 'cade', 'rogers', 44), (9, 'mark', 'edwards', 50), (10, 'grace', 'richardson', 36), (11, 'matthew', 'robinson', 25), (12, 'stephanie', 'doe', 49), (13, 'mary', 'smith', 44), (14, 'charles', 'nelson', 22), (15, 'patricia', 'oneal', 28)]

In [6]:
cur.executemany("insert into people values (?, ?, ?, ?)", names)

In [7]:
# pushes this code into the database
con.commit()

In [10]:
maxAge = 50
minAge = 30
cur.execute("""select first_name from people 
        where age >= :minAge
        and age <= :maxAge"""
            , {'minAge': minAge, 'maxAge': maxAge}).fetchall()

[('betty',),
 ('quin',),
 ('will',),
 ('thomas',),
 ('jennifer',),
 ('joe',),
 ('cade',),
 ('mark',),
 ('grace',),
 ('stephanie',),
 ('mary',)]

In [20]:
# close connection to the db
con.close()